.clockWrapper{
    padding:50px 10px;
    max-width:800px;
    margin:0 auto;
}
.clockFace{
    height:600px;
    width:600px;
    border-radius:300px;
    border:4px solid black;
    margin:0 auto;
    position: relative;
}
.hourHand{
    height:150px;
    width:60px;
    background: black;
    position:absolute;
    bottom:300px;
    left:270px;
    transform: rotate(90deg);
    transform-origin: bottom center;
}
.minuteHand{
    height:200px;
    width:40px;
    background: black;
    position:absolute;
    bottom:300px;
    left:280px;
    transform: rotate(45deg);
    transform-origin: bottom center;
}
.secondHand{
    height:250px;
    width:10px;
    background: red;
    position:absolute;
    bottom:300px;
    left:295px;
    transform: rotate(20deg);
    transform-origin: bottom center;
}
.tidy{
    height:80px;
    width:80px;
    border-radius: 40px;
    background: black;
    position:absolute;
    bottom:260px;
    left:260px;
    
}
